<!DOCTYPE html>
<html lang="de-de">

<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - Startseite</title>
    <link rel="stylesheet" href="../../static/web/styles/main.css">
    <link rel="stylesheet" href="../../static/web/styles/grid.css">
</head>

<body>
    <div class="header">
        <h2>Einen neuen Sensor anlegen</h2>
        <p>Gib die Daten zum neuen Sensor ein. Eine ID (pk) muss nicht vergeben werden.
        </p>
    </div>
    <div class="sensors">
        

    </div>
</body>

</html>